// ? -- Fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

// ? -- Variables
:root {
  /* Colors */
  // --- Neutral
  --color-background: hsl(0, 0%, 98%);
  --color-text-input: hsl(0, 0%, 52%);
  --color-elements: hsl(0, 0%, 100%);
  --color-hover: hsl(0, 0%, 90%);
  --color-text: hsl(200, 15%, 8%);
  --color-search: hsl(0, 0%, 52%);

  --color-dark-mode-background: hsl(207, 26%, 17%);
  --color-light-mode-background: hsl(0, 0%, 98%);

  /* Fonts */
  --header-primary: 2.3875rem;
  --header-font-large: 3.6rem;
  --header-font-small: 1.8rem;
  --paragraph-font-regular: 1.6rem;
  --paragraph-font-small: 1.4rem;

  --line-height-regular: 1.6;

  --font-weight-boldest: 800;
  --font-weight-bold: 600;
  --font-weight-light: 300;

  /* Box Shadow */
  --shadow-common: 0 1px 4px hsla(0, 0%, 0%, 0.1);
  --shadow-focued: 0 2px 4px hsla(0, 0%, 0%, 0.2);
}

// ? -- Dark Mode Styling
[data-theme="dark"] {
  // --- Colors
  --color-background: hsl(207, 26%, 17%);
  --color-text-input: hsl(0, 0%, 100%);
  --color-elements: hsl(209, 23%, 22%);
  --color-hover: hsl(208, 26%, 18%);
  --color-text: hsl(0, 0%, 100%);
  --color-search: hsl(0, 0%, 100%);

  // --- Box Shadow
  --shadow-common: 0 2px 4px hsla(0, 0%, 0%, 0.2);
  --shadow-focued: 0 2px 4px hsla(0, 0%, 0%, 0.3);
}

// ? -- Global Reset & Basic Styles
*,
*::before,
*::after {
  transition: color 300ms, background-color 300ms;
  box-sizing: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: var(--line-height-regular);
  font-size: var(--paragraph-font-small);
  font-family: "Nunito Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
}
